* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

header, footer {
    background-color: #ad0a00;
    color: #ffffff;
    overflow: auto;
    position: relative;
}

/* Header */

header h1 {
    padding: 20px 0 10px 0;
    display: inline-block;
    font-size: 36px;
    margin-left: 35px;
}

header nav {
    position: absolute;
    bottom: 15px;
    right: 40px;
}

header nav ul li {
    list-style: none;
    display: inline;
    font-size: 20px;
    margin: 0 25px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

header nav ul li a:hover {
    text-decoration: underline;
}

