* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

.primary-background {
    background-color: #ad0a00;
    color: #ffffff;
}

/* Header */

header {
    padding: 20px 35px;
}

header h1 {
    display: inline;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header nav {
    float: right;
    margin: 10px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    font-weight: lighter;
    font-size: 22px;
    margin: 0 30px;
    color: #ffffff;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Footer */

footer {
    width: 100%;
    padding: 40px 35px;
}
