:root {
    --primary-color: #ad0a00;
    --secondary-color: #5e5a5a;
    --tertiary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

.primary-background {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

/* Header */

header {
    display: flex;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header h1 {
    font-weight: bold;
    font-size: 28px;
    padding: 10px;
    flex-basis: 80%;
    margin-bottom: 5px;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 15px;
    border: 1px solid var(--tertiary-color);
}

header nav {
    flex-basis: 100%;
    text-align: center;
    padding: 0 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
}

header nav ul li {
    display: inline-block;
    margin-bottom: 15px;
}

header nav ul li a {
    text-decoration: none;
    font-weight: lighter;
    font-size: 18px;
    margin: 0 10px;
    padding-bottom: 3px;
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--tertiary-color);

}

/* Hero/Mission/Contact */



/* About Us */



/* Dispatch */



/* Back-End */



/* Available Packages */



/* Footer */

footer {
    width: 100%;
    padding: 20px 35px;
    text-align: center;
    position: relative;
}

footer h3 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 22px;
}

footer address {
    margin: 20px 0;
    display: inline-block;
    line-height: 1.5;
    font-style: normal;
    padding: 15px;
    border: 3px solid var(--tertiary-color);
    background-color: var(--secondary-color);
    font-size: 17px;
}

footer a {
    color: var(--tertiary-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Queries */

@media screen and (min-width: 425px) {
    header h1 {
        font-size: 34px;
    }
}

/* @media screen and (min-width: 484px) {
    header nav ul li {
        padding-bottom: 0;
    }
} */

@media screen and (min-width: 525px) {
    header h1 {
        font-size: 38px;
        flex-basis: 64%;
    }

    .partners {
        display: block;
    }

    header nav ul li a {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    header {
        justify-content: space-between;
    }
    header h1 {
        flex-basis: 35%;
        font-size: 28px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    header nav {
        flex-basis: 60%;
        align-self: flex-end;
    }
    header nav ul {
        justify-content: space-evenly;
        align-items: center;
    }
    header nav ul li a {
        font-size: 18px;
    }
}

@media screen and (min-width: 900px) {

    header {
        justify-content: space-between;
        align-items: flex-end;
    }

    header h1 {
        font-size: 32px;
    }

    header nav ul li a {
        font-size: 20px;
    }
}
